#term_select select{
    width : 80px;
    display: table-cell;
    margin-right:10px;
}

#term_select label{
    margin-right:10px;
}

#term_select img{
    margin:0 40px;
}

#display_sales{
    font-size: 18px;
    font-type: bold;
    width : 170px;
    margin: 10px;
}


#additional_info {
    font-size: 18px;
    font-type: bold;
 display: table-cell;
}