#term_select .box-body{
    text-align:center;
}

#term_select .box-body select{
    width : 80px;
    display: table-cell;
    margin-right:10px;
}

#term_select label{
    margin-right:10px;
}

#term_select img{
    margin:0 40px;
}

#stylist_sel {
    margin: 10px 0px;
    width: 130px;
    display: table-cell;
}
#stylist_label{
    font-size: 16px;
    margin-left: 10px;
}

#display_sales{
    font-size: 18px;
    font-type: bold;
    width : 170px;
    margin: 10px;
}


#additional_info {
    font-size: 18px;
    font-type: bold;
 display: table-cell;
}

#repeat_table th, #repeat_table tr{
    text-align: center;
    vertical-align: middle;
}