    <div class="container">
        <div class="card card-container" style="width:350px;height:356px">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
			<div>
				<strong style="color:red">一定時間操作されなかったため、ログインの有効期限が切れました。<br>
				再度ログインしなおしてください。<br><br></strong>
				<a href="./analyze" style="text-align:center">ログイン画面に戻る</a>
			</div>
        </div><!-- /card-container -->
    </div><!-- /container -->