    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="POST">
                <span id="error_message" class="error_message">ユーザーネーム または パスワードに誤りがあります</span>
                <input type="text" id="user_name" name="user_name" class="form-control" placeholder="User Name" required autofocus>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <input type="hidden" name="type" value="api">
                <input type="hidden" name="name" value="login">
                <!-- rely on the function of browser
                <div id="remember" class="checkbox">
                    <label>
                    	<input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                  -->
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a href="mailto:tani19870516@gmail.com?subject=[サロンボード分析システム]パスワード再発行依頼&amp;body=
                    %0d%0aパスワード再発行のお問い合わせありがとうございます。%0d%0a
                    お手数ですが以下の項目をご記入の上、ご送信お願いいたします。%0d%0a
                    %0d%0a
                    %0d%0a
                    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー%0d%0a
                    お名前：%0d%0a
                    お電話番号：%0d%0a
                    勤務先名称：%0d%0a
                    本システム用ユーザーID：%0d%0a
                    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー%0d%0a
					" class="forgot-password">Forgot the password?
			</a>
        </div><!-- /card-container -->
    </div><!-- /container -->