
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			店舗売上 <small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Store sales</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Small boxes (Stat box) -->

		<!-- Left col -->
		<section class="col-lg-7 connectedSortable">
			<!-- Main row -->
			<div class="row">


				<!-- Attack List -->
				<div id="term_select" class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">売上表示期間を選択して下さい</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<select class="form-control" name="from_year" id="from_year">
						</select><label for="year">年</label> <select class="form-control"
							name="from_month" id="from_month">
						</select><label for="month">月</label> <img src="./resource/img/arrow.png"></img>
						<select class="form-control" name="to_year" id="to_year">
						</select><label for="year">年</label> <select class="form-control"
							name="to_month" id="to_month">
						</select><label for="month">月</label>
					</div>
					<div>
						<button id="display_sales" type="button" class="btn btn-primary">売上を表示</button>
					</div>
				</div>

				<div id="sales_area" class="box box-primary">
					<div class="nav-tabs-custom">
						<!-- Tabs within a box -->
						<ul class="nav nav-tabs pull-right">
							<li class="pull-left header"><i class="fa fa-inbox"></i>
								期間売上推移</li>
						</ul>
						<div>
							<span id="sales_rate_term">月ごとの売上、顧客情報を表示します。</span>
						</div>
						<div class="tab-content no-padding">
							<!-- Morris chart - Sales -->
							<div class="chart tab-pane active" id="revenue-chart"
								style="position: relative; height: 300px;"></div>
						</div>
						<div class="additional_info"></div>
					</div>
				</div>
				<!-- /.nav-tabs-custom -->
			</div>
		</section>
		<section class="left_folumn col-lg-4 connectedSortable">
			<div class="row">
				<div id="sales_rate" class="box box-primary">
					<div class="nav-tabs-custom">
						<!-- Tabs within a box -->
						<ul class="nav nav-tabs pull-right">
							<li class="pull-left header"><i class="fa fa-inbox"></i>
								売上内訳</li>
						</ul>
						<div class="tab-content no-padding">
							<!-- Morris chart - Sales -->
							<div class="chart tab-pane active" id="sales_rate_chart"
								style="position: relative; height: 300px;"></div>
						</div>
						<div class="additional_info">
							<div>
								【売上合計】 <span id="total_price"></span>
							</div>
							<div>
								【指名売上】 <span id="nomination_sales"></span>
							</div>
							<div>
								【フリー売上】 <span id="free_sales"></span>
							</div>
							<div>
								【店販】 <span id="store_sales"></span>
							</div>
							<div>
								【お客様単価】 <span id="unit_price"></span>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div id="gender_rate" class="box box-primary">
					<div class="nav-tabs-custom">
						<!-- Tabs within a box -->
						<ul class="nav nav-tabs pull-right">
							<li class="pull-left header"><i class="fa fa-inbox"></i>
								担当お客様情報</li>
						</ul>
						<div>
							<span id="gender_rate_term"></span>
						</div>
						<div class="tab-content no-padding">
							<!-- Morris chart - Sales -->
							<div class="chart tab-pane active" id="gender_rate_chart"
								style="position: relative; height: 300px;"></div>
						</div>
						<div class="additional_info">
							<div>
								【担当お客様数】 <span id="total_customer_count"></span>
							</div>
							<div>
								【新規 / リピーター】 <span id="newer_repeater"></span>
							</div>
							<div>
								【売上男女構成人数】 <span id="gender_sales_rate"></span>
							</div>
							<div>
								【平均年齢】 <span id="age_average"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.Left col -->
		<!-- right col (We are only adding the ID to make the widgets sortable)-->
		<section class="col-lg-5 connectedSortable"></section>
		<!-- right col -->
</div>
<!-- /.row (main row) -->