
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			スタイリスト別リピート率 <small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Stylist Repeat</li>
		</ol>
	</section>



	<!-- Main content -->
	<section class="content">
		<!-- Small boxes (Stat box) -->

		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			<section class="col-lg-11 connectedSortable">

				<div id="term_select" class="box box-primary">
					<div><label id="stylist_label">スタイリスト：</label>
						<select class="form-control" name="stylist_sel" id="stylist_sel">
						</select>
					</div>

					<div class="box-header">
						<h3 class="box-title">初回来店日の期間指定</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<select class="form-control" name="first_coming_from_year" id="first_coming_from_year">
						</select><label for="year">年</label>
						<select class="form-control" name="first_coming_from_month" id="first_coming_from_month">
						</select><label for="month">月</label>
						<img src="./resource/img/arrow.png"></img>
						<select class="form-control" name="first_coming_to_year" id="first_coming_to_year">
						</select><label for="year">年</label>
						<select class="form-control" name="first_coming_to_month" id="first_coming_to_month">
						</select><label for="month">月</label>
					</div>
					<div class="box-header">
						<h3 class="box-title">リピート率の算出期間指定</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<select class="form-control" name="repeat_from_year" id="repeat_from_year" disabled=true>
						</select><label for="year">年</label>
						<select class="form-control" name="repeat_from_month" id="repeat_from_month" disabled=true>
						</select><label for="month">月</label>
						<img src="./resource/img/arrow.png"></img>
						<select class="form-control" name="repeat_to_year" id="repeat_to_year">
						</select><label for="year">年</label>
						<select class="form-control" name="repeat_to_month" id="repeat_to_month">
						</select><label for="month">月</label>
					</div>


					<div>
						<button id="display_sales" type="button" class="btn btn-primary">リピート率を表示</button>
					</div>
					<!-- /.box-body -->
				</div>
				
				<!-- Custom tabs (Charts with tabs)-->
				<div class="nav-tabs-custom">
					<!-- Tabs within a box -->
					<ul class="nav nav-tabs pull-right">
						<li class="pull-left header"><i class="fa fa-inbox"></i>
							月間リピート率一覧</li>
					</ul>
					<div class="tab-content no-padding table-responsive">
						<table id="repeat_table" class="table table-striped">
							<thead>
								<tr>
									<th rowspan="2">年</th>
									<th rowspan="2">月</th>
									<th rowspan="2">新規顧客数</th>
									<th colspan="2">2回目来店</th>
									<th colspan="2">3回目来店</th>
									<th colspan="2">4回目来店</th>
									<th colspan="2">5回目来店</th>
									<th colspan="2">6回目来店</th>
									<th colspan="2">7回目来店</th>
									<th colspan="2">8回目以上来店</th>
								</tr>
								<tr>
									<th>人数</th>
									<th>％</th>
									<th>人数</th>
									<th>％</th>
									<th>人数</th>
									<th>％</th>
									<th>人数</th>
									<th>％</th>
									<th>人数</th>
									<th>％</th>
									<th>人数</th>
									<th>％</th>
									<th>人数</th>
									<th>％</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div id="additional_info"></div>
				</div>



			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-5 connectedSortable"></section>
			<!-- right col -->
		</div>
		<!-- /.row (main row) -->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<!--       <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs --
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes --
        <div class="tab-content">
          <!-- Settings tab content --
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group --
          </div><!-- /.tab-pane --
        </div>
      </aside><!-- /.control-sidebar --

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar --
      <div class='control-sidebar-bg'></div>
       -->
