
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			ダッシュボード <small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>



	<!-- Main content -->
	<section class="content">
		<!-- Small boxes (Stat box) -->

		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			<section class="col-lg-7 connectedSortable">
				<!-- Custom tabs (Charts with tabs)-->
				<div class="nav-tabs-custom">
					<!-- Tabs within a box -->
					<ul class="nav nav-tabs pull-right">
						<li class="pull-left header"><i class="fa fa-inbox"></i>
							昨対月間売上推移</li>
					</ul>
					<div class="tab-content no-padding">
						<!-- Morris chart - Sales -->
						<div class="chart tab-pane active" id="revenue-chart"
							style="position: relative; height: 300px;"></div>
					</div>
				</div>
				<!-- /.nav-tabs-custom -->
			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-5 connectedSortable">
				<!-- Attack List -->
				<div class="box box-primary">
					<div class="box-header">
						<i class="ion ion-clipboard"></i>
						<h3 class="box-title">今週のアタックリスト</h3>
						<div class="box-tools pull-right">
							<ul id="todo_pagenation" class="pagination pagination-sm inline">
								<img src="./resource/img/question.png" data-toggle="tooltip"
									title="次回来店予測日が10日前のお客様のリストです。
                    	※来店周期はお客様の来店頻度から算出されており、新規のお客様は男性:30日、女性:45日になっています。">
								</img>
								<!--                       <li><a href="#">&laquo;</a></li>
                      <li><a href="#">&raquo;</a></li>
 -->
							</ul>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul id="todo_list" class="todo-list">
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->

			</section>
			<!-- right col -->
		</div>
		<!-- /.row (main row) -->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<!--       <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs --
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes --
        <div class="tab-content">
          <!-- Settings tab content --
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group --
          </div><!-- /.tab-pane --
        </div>
      </aside><!-- /.control-sidebar --

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar --
      <div class='control-sidebar-bg'></div>
       -->
