<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<a href="./analyze?type=page&name=top" class="logo"> <img
			src="./resource/img/macbeelogo.png">
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->

			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->
					<li class="dropdown messages-menu"></li>
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"> <span
							id="user_name" class="hidden-xs"></span>
					</a></li>
					<!-- Control Sidebar Toggle Button -->
					<li><a id="menu_config" href="#" data-toggle="control-sidebar"><i
							class="fa fa-gears"></i></a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="header">メインメニュー</li>
				<li class="treeview"><a href="#"> <i
						class="fa fa-dashboard"></i> <span>売上分析</span> <i
						class="fa fa-angle-left pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href="./analyze?type=page&name=store_sales"><i
								class="fa fa-circle-o"></i> 店舗売上</a></li>
						<li><a href="./analyze?type=page&name=stylist_sales"><i
								class="fa fa-circle-o"></i> スタイリスト別売上</a></li>
					</ul></li>

				<li class="treeview"><a href="#"> <i
						class="fa fa-pie-chart"></i> <span>rfm分析</span> <i
						class="fa fa-angle-left pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href="./analyze?type=page&name=rfm_analyze"><i
								class="fa fa-circle-o"></i> rfm分析</a></li>
						<li><a href="./analyze?type=page&name=rfm_config"><i
								class="fa fa-circle-o"></i> rfm分析項目設定</a></li>
					</ul></li>
				<li class="treeview"><a href="#"> <i class="fa fa-laptop"></i>
						<span>リピート率分析</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href="./analyze?type=page&name=store_repeat"><i
								class="fa fa-circle-o"></i> 店舗全体リピート率</a></li>
						<li><a href="./analyze?type=page&name=stylist_repeat"><i
								class="fa fa-circle-o"></i> スタイリスト別リピート率</a></li>
					</ul></li>
				<!-- <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li> -->
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>