    </div><!-- ./wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2015- Macbee International Inc.</strong> All rights reserved.
      </footer>